.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
 }
 
.ui-datatable .ui-button{
    float: left;
 }
 
.admin-dashboard-button{
    width: 150px;
    height: 150px;
    margin: 10px;
 }
 
 .userDataTableStyle{
    margin-left:  5px;
    margin-right: 5px;
    margin-top: 0;
 }
 
 .loginPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 15%;
 }
 
 .userFormStyle{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
 }
 
 .ui-selectmanymenu{
    width: 100% !important; 
    overflow: hidden !important;
 }